@layout.error()
  <div class="flex flex-col items-center justify-center h-full">
    <h1 class="text-5xl font-bold">{{status}}</h1>
    <p>{{error}}</p>
    <br/>
    <a href="/" class="btn btn-soft">go to home</a>
  </div>
@end