@layout.app({ title: 'Nest MVC Error' })
  <div class="container flex flex-col items-center justify-center mx-auto h-screen">
    <h1 class="text-5xl font-bold">{{status}}</h1>
    <p class="message">{{error}}</p>
    <br />
    <a href="/" class="underline decoration-wavy">Back to Home</a>
  </div>
@end