<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title || "Nestjs MVC Errors" }}</title>
  <meta name="description" content="{{ description || 'NestJS MVC Scaffold' }}" />
  <meta name="csrf-token" content="{{ csrfToken }}">

  @if ($slots.meta)
  {{{ await $slots.meta() }}}
  @endif

  <link rel="stylesheet" href="{{ viteAssetPath('src/tailwind.css') }}">
  <script src="{{ viteAssetPath('src/app.js') }}" type="module" defer></script>

  <link rel="shortcut icon" href="/public/favicon.svg" type="image/x-icon" />
</head>

<body>
  <div class="flex flex-col grow h-screen">
    <div class="grow">
      {{{ await $slots.main() }}}
    </div>
  </div>
</body>

</html>